# IDE
.idea/
.vs/
*.iml
/.vscode
icons/\!dox/
/node_modules/
.DS_Store
**.env
npm-debug.log
coverage/
debug/
docs/
node_modules/
dist/

#Foundry bundle
foundry.js
#Pathfinder bundle
main.bundle.js

# Dummy files for vite dev server
/index.html
/pf2e.css
/pf2e.mjs
/vendor.mjs

#This project
static/packs/
foundryconfig.json

