#pause {
    bottom: var(--xdy-pf2e-workbench-pause-bottom);
}

#pause figcaption {
    top: var(--xdy-pf2e-workbench-pause-figcaption-top);
}

#pause img {
    content: var(--xdy-pf2e-workbench-pause);
}
