/* Modified from the npc sheet */

.xdy-pf2e-workbench-rarity-common {
    border-color: var(--color-rarity-common);
    color: var(--color-rarity-common);
}

.xdy-pf2e-workbench-rarity-uncommon {
    border-color: var(--color-rarity-uncommon);
    color: var(--color-rarity-uncommon);
}

.xdy-pf2e-workbench-rarity-rare {
    border-color: var(--color-rarity-rare);
    color: var(--color-rarity-rare);
}

.xdy-pf2e-workbench-rarity-unique {
    border-color: var(--color-rarity-unique);
    color: var(--color-rarity-unique);
}
