<td>
    {{#if value.original}}
    <button class="rollable" data-formula="{{formulaBase}}{{value.original}}" data-rollname="{{rollName}}">{{value.original}}</button>
    {{else}}
    {{#xdy_isNaN value}}
    <button class="rollable" data-formula="(1d{{value.die}})+{{value.minimum}}-1" data-rollname="{{rollName}}">
        {{value.minimum}}-{{value.maximum}}
    </button>
    {{else}}
    <button class="rollable" data-formula="{{formulaBase}}{{value}}" data-rollname="{{rollName}}">{{value}}</button>
    {{/xdy_isNaN}}
    {{/if}}
</td>
